{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<style>
    code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: 'Courier New';
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
</style>
{% endblock %}

{% block content %}
Apparently you need such page for the Plugin to show up in MAD. So you can ignore this for now.
<br>
<br>
don't forget to star this on github: https://github.com/ccev/mp-eventwatcher :)))
<br>
also join the discord so i can notify you if there's an update for this

{% endblock %}
